


body{background:#f9f9f9;}
#wrapper{padding:90px 15px;}
.navbar-expand-lg .navbar-nav.side-nav{
    flex-direction: column;
}
.card{
    margin-bottom: 15px;
    border-radius:0;
    box-shadow: 0 3px 5px rgba(0,0,0,.1);
    }
.header-top{
    box-shadow: 0 3px 5px rgba(0,0,0,.1)
}
.leftmenutrigger{
    display: flex
}

@media(min-width:992px) {
.leftmenutrigger{
    margin: 7px 20px 4px 0;
    display: none;
}

#wrapper{
    padding: 90px 15px 15px 15px;
 }

 
.navbar-nav.side-nav.open {
    left:0;
}
.navbar-nav.side-nav{
    background: #585f66;
    box-shadow: 2px 1px 2px rgba(0,0,0,.1);
    position:fixed;
    top:56px;
    flex-direction: column!important;
    left:-220px;
    width:200px;
    overflow-y:auto;
    bottom:0;
    overflow-x:hidden;
    padding-bottom:40px
}
}
.animate{
    -webkit-transition:all .3s ease-in-out;
    -moz-transition:all .3s ease-in-out;
    -o-transition:all .3s ease-in-out;
    -ms-transition:all .3s ease-in-out;
    transition:all .3s ease-in-out
}

.margenForm{
    padding: 30px;
}

.marginbtn{
    margin: 10px;
    padding: 25px;
}

.btnadd{
    border-radius: 50%;
}




.iconCard span{
    font-size: 60px;
    color: #FFC312;
    justify-content: center
}
    
.iconCard span:hover{
    color: darkgoldenrod;
    cursor: pointer;
}

.iconAceptar span{
    font-size: 40px;
    padding: 100%px;
    color: green;
    justify-content: center
}
    
.iconAceptar span:hover{
    color: gray;
    cursor: pointer;
}

.iconDenegar span{
    font-size: 40px;
    padding: 100%px;
    color: red;
    justify-content: center
}
    
.iconDenegar span:hover{
    color: gray;
    cursor: pointer;
}

.textoS{
    color: black;
    font-size: 15px;
}
