{% extends 'base.html' %}
{% load static %}
{% block content %}

    {%include 'UserNav.html'%}
    <section class="container-fluid">
        {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-text">
                            <a href="" class="btn iconCard" data-toggle="modal" data-target=".bd-example-modal-lg">
                                <span>
                                    <i class="fas fa-plus-circle"></i>
                                    <p class="card-text textoS">¿No está tu tienda?, !solicitala aquí¡</p>
                                </span>
                            </a>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
            <!-- Desde aqui mostrar informacion sobre las tiendas -->
        <div class="row justify-content-center">
        {% for tienda in tiendas %}
            {% if user.is_staff %}
            <div class="col-md-3 col-sm-6 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{tienda.nombre}}</h5>
                        <p>{{tienda.sucursal}}</p>
                        {% if user.is_staff %}
                        <b>{{tienda.estado}}</b>
                        {% endif %}
                        {% if tienda.online %}
                        <p><a href={{tienda.url}}>{{tienda.url}}</a></p>
                        {% else %}
                        <p>{{tienda.direccion}}</p>
                        <p>{{tienda.ciudad}}</p>
                        <p>{{tienda.region}}</p>
                        {% endif %}
                        {% if user.is_staff %}
                            {% ifequal tienda.estado|stringformat:"s" "Pendiente" %}
                            <a href={% url 'aprobarTienda' tienda.id %} class="btn iconAceptar"><span><i class="fas fa-check-circle"></i></span></a>
                            {% endifequal %}
                        <a href={% url 'eliminarTienda' tienda.id %} class="btn iconDenegar"><span><i class="fas fa-ban"></i></span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% else %}
                {% ifequal tienda.estado|stringformat:"s" "Aprobado" %}
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{tienda.nombre}}</h5>
                            <p>{{tienda.sucursal}}</p>
                            {% if user.is_staff %}
                            <b>{{tienda.estado}}</b>
                            {% endif %}
                            {% if tienda.online %}
                            <p>online</p>
                            <a href={{tienda.url}}>{{tienda.url}}</a>
                            {% else %}
                            <p>{{tienda.direccion}}</p>
                            <p>{{tienda.ciudad}}</p>
                            <p>{{tienda.region}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endifequal %}
            {% endif %}
        {% endfor %}
        </div>    
            <!-- hasta aqui mostrar informacion sobre las tiendas -->
    </section>
    <!-- Inicio Modal con registro de tiendas -->
    <div class="modal fade bd-example-modal-lg modal-dialog" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!--Contenedor Form-->
                <div class="container-fluid ">
                    <!--Form--> 
                    <form class="margenForm" id="solicitudLocal" method="POST" action="crearTienda">
                        {% csrf_token %}
                        <div class="row">
                        <!--Inputs-->
                        <div class="form-group col-md-6 col-sm-6 col-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"  required placeholder="Nombre(Obligatorio)">
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-12">
                            <label for="nombreSucursal">Nombre Sucursal</label>
                            <input type="text" class="form-control" id="nombreSucursal" name="sucursal" placeholder="Sucursal">
                        </div>
                        <div class="form-label-group col-md-6 col-sm-6 col-12">
                                <label for="direccion">Región</label>
                                <select class="form-control " id="region" required name="region">
                                    <option value="selected">Seleccione Region</option>
                                </select>
                        </div>
                        <div class="form-label-group col-md-6 col-sm-6 col-12">
                                <label for="direccion">Comuna</label>
                                <select class="form-control" id="comuna" required name="comuna">
                                    <option value="selected">Seleccione Comuna</option>
                                </select>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-12">
                                <label for="direccion">Dirección</label>
                                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Dirección">
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-12">
                            <label for="pag">URL Pagina</label>
                            <input type="text" class="form-control" id="pag" name="url" placeholder="Url del sitio">
                        </div>
                    </div>
                        <!--Fin Inputs-->
                        <!--Boton -->
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-outline-success marginbtn">Enviar</button>
                            <input class="btn btn-outline-warning marginbtn" type="reset" value="Limpiar">
                            <button class="btn btn-outline-danger marginbtn" data-dismiss="modal">Cancelar</button>
                        </div>
                        <!--Boton -->
                    </form>
                    <!--Fn Form-->
                </div>
                <!--Fn Contenedor Form-->
            </div>
        </div>
    </div>
       <!-- Fin Modal con registro de tiendas -->
</body>
{% endblock content %}