{% load static %}
{% load pwa %}
<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/estilo.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/loginstyle.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <!--Nav-->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}" id="bootstrap-css" >
    <link rel="stylesheet" type="text/css" href="{% static '/js/bootstrap.min.js' %}">
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>
<!-- PWA -->
    <link rel="manifest" href="{% static 'manifest.json' %}">
    <link rel="apple-touch-icon" href="/" sizes="160x160">
    <meta name="theme-color" content="#6DCCAA">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="MyApp">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <script type="text/javascript">
        // Initialize the service worker
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/serviceworker.js', {
                scope: '.' // <--- THIS BIT IS REQUIRED
            }).then(function (registration) {
                // Registration was successful
                console.log('django-progressive-web-app: ServiceWorker registration successful with scope: ', registration.scope);
            }, function (err) {
                // registration failed :(
                console.log('django-progressive-web-app: ServiceWorker registration failed: ', err);
            });
        }
    </script>
    <!-- -->
    <!-- El push-->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
        var OneSignal = window.OneSignal || [];
        OneSignal.push(function () {
            OneSignal.init({
                appId: "db3deb07-0db6-4dc6-b16d-4fd92d02a029",
            });
            OneSignal.getUserId( function(userId) {
            console.log('player_id of the subscribed user is : ' + userId);
            // Make sure to change the URL for the correct path
            $.post({% url 'onesignal_register' %},
            {
                playerId: userId,
                csrfmiddlewaretoken: "{{ csrf_token }}",
            },
            function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
            });
        });
        });
       
          // Post onesignal playerid to django via ajax every time the user load the page
    
    </script>
    <!-- -->

    <title>{{titulo}}</title>
</head>
{% block content %}
{% endblock content %}
    <script src="{% static '/js/jquery-3.3.1.js' %}"></script>
    <script src="{% static '/js/popper.js' %}"></script>
    <script src="{% static '/js/bootstrap.js' %}"></script>
    <script src="{% static '/js/jquery.validate.js' %}"></script>
    <script src="{% static '/js/app.js' %}"></script>
    <script src="{% static '/js/localidades.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/idb.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/idbop.js' %}"></script>
</body>
</html>