{% extends 'base.html' %}
{% load static %}
{% block content %}



    {%include 'UserNav.html'%}
    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-10">
                <form class="margenForm" id="formProductos" method="POST" action="{% url 'editarProducto' producto.id %}">
                    {%csrf_token %}
                    <div class="row">
                        <!--Inputs-->
                        <div class="form-group col-md-6 col-sm-6 col-12">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" placeholder="Nombre" required name="nombre" value={{producto.nombre}}>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-12">
                            <label for="nombre">Valor Presupuestado</label>
                            <input type="number" class="form-control" id="valorP" placeholder="Valor Presupuestado"
                                requierd name="valorP" value={{producto.cPresupuesto}}>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-12">
                            <label for="nombre">Valor Real</label>
                            <input type="number" class="form-control" id="valorR" placeholder="Valor Real" requierd
                                name="valorR" value={{producto.cReal}}>
                        </div>
                        <div class="form-label-group col-md-6 col-sm-6 col-12">
                            <label for="direccion">Tienda</label>
                            <select class="form-control " name="tienda" id="tienda" required name="tienda">
                                <option value="">Seleccione Tienda</option>
                                {% for tienda in tiendas %}
                                {% ifequal tienda producto.tienda %}
                                <option selected value={{tienda.id}}>{{tienda.nombre}}</option>
                                {% endifequal %}
                                <option value={{tienda.id}}>{{tienda.nombre}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-12 col-sm-12 col-12">
                            <label for="notas">Notas</label>
                            <textarea class="form-control" id="notas" placeholder="Agregue notas adicionales si requiere" name="notas" rows="3">{{producto.notas}}</textarea>
                        </div>
                    </div>
                    <!--Fin Inputs-->
                    <!--Boton -->
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-outline-success marginbtn">Editar</button>
                        <button class="btn btn-outline-danger marginbtn">Cancelar</button>
                    </div>
                    <!--Boton -->
                </form>
            </div>
        </div>
    </section>
</body>
{% endblock content %}