{% extends 'base.html' %}
{% load static %}
{% block content %}



    {%include 'UserNav.html'%}
    <section class="container-fluid">
        <div class="row">
            {% if user.is_authenticated %}
                {% if user.is_staff == False %}
                <div class="col-md-4 col-sm-6 col-12">
                    <a href="" class="btn iconCard" data-toggle="modal" data-target=".bd-example-modal-lg">
                        <span>
                            <i class="fas fa-file-alt"></i>
                            <p class="textoS">Crea Aqui tus listas de compra</p>
                        </span>
                    </a>
                </div>
                {% else %}
                <h4>Inicie sesión como usuario no administrativo si desea crear listas de compra</h4>
                {% endif %}
            {% else %}
            <h4>Inicie sesión para gestionar sus listas de compra</h4>
            {% endif %}
        </div>
        <hr>
        <div class="row justify-content-center">
            {% for lista in listas %}
            <div class="col-md-4 col-sm-6 col-12">
                <div class="card">
                    <div class="d-flex justify-content-end social_icon">
                        <span><i class="fas fa-thumbtack" data-toggle="tooltip" data-placement="bottom" title="{{lista.lista.nombre}}"></i></span>
                    </div>
                    <div class="card-body">
                        {% if  lista.queryDict.agregados == 0 %}
                        <h5 class="card-title">{{lista.lista.nombre}}</h5>
                        <p>Todavia no ha agregado ningun producto a esta lista</p>
                        <a href="" data-toggle="modal" data-target=".nuevo-producto-{{lista.lista.nombre}}" class="btn btn-primary"><span><i
                                    class="fas fa-clipboard-list"></i></span>
                            Agregar</a>
                        <a href="{% url 'eliminarlista' lista.lista.nombre %}" class="btn btn-danger">Eliminar</a>
                        {% else %}
                        <h5 class="card-title">{{lista.lista.nombre}}</h5>
                        <p class="card-text">Total presupuesto: {{lista.queryDict.tPresupuesto}}</p>
                        <p class="card-text">Total real comprado:{{lista.queryDict.tRealComprado}}</p>
                        <p class="card-text">Productos agregados:{{lista.queryDict.agregados}}</p>
                        <p class="card-text">Productos comprados: {{lista.queryDict.comprados}}</p>
                        <!--Aqui se abre el modal-->
                        <a href="" data-toggle="modal" data-target=".detalle-producto-{{lista.lista.nombre}}" class="btn btn-primary"><span><i
                                    class="fas fa-clipboard-list"></i></span>
                            Ver Detalle</a>
                        <a href="" data-toggle="modal" data-target=".nuevo-producto-{{lista.lista.nombre}}" class="btn btn-primary"><span><i
                                    class="fas fa-clipboard-list"></i></span>
                            Agregar</a>
                        <a href="{% url 'eliminarlista' lista.lista.nombre %}" class="btn btn-danger">Eliminar</a>
                        {% endif %}
                        <!--Aqui se abre el modal de detalle de cada producto-->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!--Contenedor Form-->
                <div class="container-fluid ">
                    <!--Form-->
                    <form class="margenForm" id="formListas" method="POST" action="{% url 'crearLista' %}">
                        {% csrf_token %}
                        <div class="row">
                            <!--Inputs-->
                            <div class="form-group col-md-12 col-sm-12 col-12">
                                <label for="nombre">Nombre Lista</label>
                                <input type="text" class="form-control" id="nombreL" name="nombre" placeholder="Nombre Lista"
                                    required name="nombreL">
                            </div>
                        </div>
                        <!--Fin Inputs-->
                        <!--Botones -->
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-outline-success marginbtn">Añadir</button>
                            <button class="btn btn-outline-danger marginbtn" data-dismiss="modal">Cancelar</button>
                        </div>
                        <!--Botones -->
                    </form>
                    <!--Fn Form-->
                </div>
                <!--Fn Contenedor Form-->
            </div>
        </div>
    </div>

    {% for lista in listas %}
    <!--Modal de detalle producto-->
    <div class="modal fade detalle-producto-{{lista.lista.nombre}} bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content container-fluid">
                <br>
                <h2>{{lista.lista.nombre}}</h2>
                    <div class="row justify-content-center">
                        {% for producto in lista.productos  %}
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{producto.nombre}} - {{producto.estado}}</h5>
                                    <p class="card-text">Presupuestado: {{producto.cPresupuesto}}</p>
                                    <p class="card-text">Costo real: {{producto.cReal}}</p>
                                    <p class="card-text"><b>Notas:</b></p>
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">{{producto.notas}}</li>
                                    </ul>
                                    <a href="{% url 'productos' producto.id %}" class="btn btn-primary btn-block">Modificar</a>
                                    <a href="{% url 'eliminarProducto' producto.id %}" class="btn btn-danger btn-block">Eliminar</a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
    <!--Modal de detalle producto-->
    <!--Modal de nuevo producto-->
    <div class="modal fade nuevo-producto-{{lista.lista.nombre}} bd-example-modal-lg" tabindex="1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <br>
                <!--Contenedor Form-->
                <div class="container-fluid ">
                <h2>{{lista.lista.nombre}}</h2>
                    <!--Form-->
                    <form class="margenForm" id="formProductos" method="POST" action="{% url 'agregarProducto' lista.lista.nombre %}">
                        {%csrf_token %}
                        <div class="row">
                            <!--Inputs-->
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                <label for="nombre">Nombre</label>
                                <input type="text" class="form-control" id="nombreP" placeholder="Nombre" required name="nombreP">
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                <label for="nombre">Valor Presupuestado</label>
                                <input type="number" class="form-control" id="valorP" placeholder="Valor Presupuestado"
                                    requierd name="valorP">
                            </div>
                            <div class="form-group col-md-6 col-sm-6 col-12">
                                <label for="nombre">Valor Real</label>
                                <input type="number" class="form-control" id="valorR" placeholder="Valor Real" requierd
                                    name="valorR">
                            </div>
                            <div class="form-label-group col-md-6 col-sm-6 col-12">
                                <label for="direccion">Tienda</label>
                                <select class="form-control " name="tienda" id="tienda" required name="tienda">
                                    <option value="selected">Seleccione Tienda</option>
                                    {% for tienda in tiendas %}
                                    <option value={{tienda.id}}>{{tienda.nombre}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-12 col-sm-12 col-12">
                                <label for="notas">Notas</label>
                                <textarea class="form-control" id="notas" placeholder="Agregue notas adicionales si requiere" name="notas" rows="3"></textarea>
                            </div>
                        </div>
                        <!--Fin Inputs-->
                        <!--Boton -->
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-outline-success marginbtn">Añadir</button>
                            <input class="btn btn-outline-warning marginbtn" type="reset" value="Limpiar">
                            <button class="btn btn-outline-danger marginbtn" data-dismiss="modal">Cancelar</button>
                        </div>
                        <!--Boton -->
                    </form>
                    <!--Fn Form-->
                </div>
                <!--Fn Contenedor Form-->
            </div>
        </div>
    </div>
    <!--Modal de nuevo producto-->
    {% endfor %}

</body>
{% endblock content %}