{% extends 'base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <div class="d-flex justify-content-center h-100">
            
                <div class="card cardlogin">
                        <form id="formLogin" method="POST" action='inicioSesion'>
                                {% csrf_token %}
                                {% load socialaccount %}
                    <div class="card-header">
                        <h3>Login</h3>
                        <div class="d-flex justify-content-end social_icon">
                                <a href="{% provider_login_url "facebook" method="oauth2" %}"><span><i class="fab fa-facebook-square"></i></span></a> 
                        </div>
                    </div>
                    <div class="card-body">

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre de usuario" id="nombre" name="nombre"
                                required>

                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Contraseña" id="passwd" name="passwd"
                                required>
                        </div>
                        <div class="row align-items-center remember">
                            <input type="checkbox">Recordar cuenta
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn float-right login_btn">Iniciar Sesión</button>
                        </div>
            </form>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-center links">
                ¿No tienes cuenta?<a href={% url 'registro' %}>Registrate</a>
            </div>
            <div class="d-flex justify-content-center">
                <a href="#">¿Olvidaste tu contraseña?</a>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>


{% endblock content %}