{% extends 'base.html' %}
{% load static %}


{% block content %}


    <div class="container">
        <div class="d-flex justify-content-center h-100">

            <div class="card cardlogin">
                <form id="RegistroForm" method="POST" action="registrarUsuario">
                    {% csrf_token %}
                    {% load socialaccount %}
                    <!--Card header -->
                    <div class="card-header">
                        <h3>Registro</h3>
                        <div class="d-flex justify-content-end social_icon">
                            <a href="{% provider_login_url "facebook" method="oauth2" %}"><span><i class="fab fa-facebook-square"></i></span></a> 
                        </div>
                    </div>
                    <!--Card header -->
                    <!--Card body -->
                    <div class="card-body">

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Nombre de usuario" id="nombre" name="nombre">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-at"></i></span>
                            </div>
                            <input type="email" class="form-control" placeholder="Correo" id="correo" name="correo">
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input type="password" class="form-control" placeholder="Contraseña" id="contrasenia" name="contrasenia">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn float-right login_btn">Registrar</button>
                        </div>
                </form>
            </div>
            <!--Card body -->
            <!--Card footer -->
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
                    ¿Tienes cuenta?<a href="#">Inicia sesion aquí</a>
                </div>
            </div>
            <!--Card footer -->
        </div>
    </div>
    </div>
</body>


{% endblock content %}