{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">LOGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar1">
        <ul class="navbar-nav ml-auto">

            <li class="nav-item active">
                <a class="nav-link" href="/listas">Mis Listas</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/locales">Tiendas</a>
            </li>
            {% if user.is_authenticated  %}
            <li class="nav-item active">
                <h6 class="nav-link">Bienvenido {{usuario}}</h6>
            </li>
            <li class="nav-item">
                <a class="btn ml-2 btn-warning" href={% url 'cerrarSesion' %}>Cerrar Sesión</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="btn ml-2 btn-warning" href={% url 'login' %}>Iniciar Sesión</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>


<br>